extends base.pug
block scripts
  script(src='/static/index.js')
block style 
    style
      include ../static/style.css
      include ../static/styleAbout.css
block content 
  div.container
    h1 About Us 
    p Neelam Dance Academy is completely dedicated to my dearest sister Neelam. She just loves dancing. Want everyone to utilize this golden oppourtunity to the fullest. You all will surely have a great experience learning dancing from  my dear sister. She is the best we have. Sending my love to everyone and best wishes and regards to Neelam Di