extends base.pug
block scripts
  script(src='/static/index.js')
block style 
    style
      include ../static/style.css
      include ../static/styleInfo.css
block content 
  div.container
    h1 Class Information
    p  With an aim to provide quality dance training and making dance available to all, NEELAM dance classes run online for students from ages four to eighty four providing them with training in various dance styles by Neelam's expert faculty. The classes give them an opportunity to learn dance, express themselves creatively and perform on stage. Classes are available for children (4 to 6 years), juniors (7 to 11 years) and adults (12 years onwards)