extends base.pug
block scripts
  script(src='/static/index.js')
block style 
    style
      include ../static/style.css
      include ../static/styleServices.css
block content 
  div.container
    h1 Services
    p All types of dance forms are taught here. Neelam Academy treats everyone as their own family member. The only expectation from our students is punctuality and sincerity. We believe in team effort and sincerity. We will appreciate suggestions and feedback from students for improvements