@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}
.container{
    margin: 12px ;
}

h1{
    text-align: center;
}
p{
    text-align: center;
   
}
